<body class="bckg-im">
  <header class="123">
    <div class="en_tete">
      <%= image_tag "header_border.png", class: 'header_border' %>
      <%= link_to blogs_path do %>
        <%= image_tag "insta.png", class: 'insta_logo' %>
      <% end %>

      <span class='recherche'></span>
      <%= link_to blogs_path do %>
      <%= image_tag "home.jpg", class: 'insta_icon' %>
      <%end%>
      <% if @recipient.present? %>
       <%= link_to conversations_path(sender_id: current_user.id, recipient_id: @recipient), method: :post do %>
      <%= image_tag "insta_messenger.jpg", class: 'insta_icon' %>
      <% end %>
      <% end %>
      <%= link_to likes_user_path(current_user.id) do %>
      <%= image_tag "heart_img.png", class: 'insta_icon' %>
      <% end %>
      <%= link_to user_path(current_user.id) do %>
      <%= image_tag "user.png", class: 'insta_icon' %>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete,data: { confirm: 'Etes Vous Sur ?' } do %>
      <%= image_tag "logout.png", class: 'insta_icon' %>
      <% end %>
      <% if current_user.admin? %>
     <%= link_to rails_admin_path do %>
     <%= image_tag "admin.png", class: 'insta_icon' %>
     <% end %>
     <% end %>
    </div>
  </header>
<main>
  <% if current_user.id == @blog.user.id  %>
  <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <%end%>
  <p>
    <% if @blog.image.file.nil? %>
      <% else %>
      <%= image_tag(@blog.image_url(:thumbnail), :alt => @blog.content) %>
      <% end %>
  </p>
  <div class="container">
  <p id="notice"><%= notice %></p>

  <div class="blog-text">
    <p class="comment"><strong class="comment">Contents</strong>：<%= @blog.content %></p>
  </div>
  <!-- Get the HTML id of this comments_area and update only that part of the div-->
  <div>
    <div id="comments_area">
      <!-- Render to display a list of posted comments on the blog details page -->
      <%= render partial: 'comments/index', locals: { comments: @comments,blog: @blog }%>
  </div>
  </div>

  <!-- Render to display the comment input field on the detail page of the blog -->
  <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>


</div>
  <p class="upload_date"><%= @blog.user.created_at.try(:strftime,"%D") %></p>

  <br>
  <br>
  <%= link_to "Retour a l'acceuil", blogs_path %>
</main>
</body>
