<<head>
  <%= render "devise/shared/links" %>
</head>
<section class="vh-100" style="background-color: #0d0d0d;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <div class="container2">
<body class='bckg-im'>
<h2 class="comment">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="comment">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Example@gmail.com" %>
  </div>

  <div class="comment">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",placeholder:"Must Have At Least 6 characters" %>
  </div>

  <div class="comment">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"password_confirmation" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-success" %>
    <br>
  </div>
<% end %>
<body>
</div>
</div>
</div>
</div>
</section>
