<ul>

  <% comments.each do |comment| %>
    <% if comment.id.present? %>

      <li class="li">
        <div class="comment-content" id ="this_comment_<%= comment.id%>"</div>
        <p class="comment"><%= comment.content %><% if current_user.id == blog.user.id || current_user.id == comment.user_id %>
        <%= link_to edit_blog_comment_path(blog, comment), remote: true do %>
        <%= image_tag "edit_comment.png", class: 'insta_icon1' %>
        <% end %>
        <%= link_to blog_comment_path(comment.blog_id, comment.id), method: :delete, remote: true,
                                          data: { confirm: "Do you really want to delete this?"} do %>
        <%= image_tag "delete.png", class: 'insta_icon1' %>
        <% end %>
        <% end %></p>

      </li>
      <hr>
    <% end %>
  <% end %>
</ul>
