<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="signup_box">
  <%= image_tag "insta.png", class: 'insta_logo1' %>
  <p>Enregistrez Vous !<br></p>
  <div class="login_forms">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= f.label :name, 'Nom Du Compte:' %>
      <p class="hey"><%= f.text_field :name %><br></p>
      <%= f.label :email, 'E-mail Adress:' %>
      <p class="hey"><%= f.email_field :email %><br></p>
      <%= f.label :password, 'Mot de passe :' %>
      <p class="hey"><%= f.password_field :password %><br></p>
      <%= f.label :password_confirmation, 'Mot de passe (confirmation) :' %>
      <p class="hey"><%= f.password_field :password_confirmation %></p>
      <br>
      <br>
      <p><%= f.submit "Créer un compte" %></p>
    <% end %>
  </div>
</div>
<div class="login_box_mini">
  <span>Vous avez un compte ?</span> <%= link_to "se connecter ", new_session_path, class: 'login_link' %>
</div>
